body{
    display: flex;
    width: auto;
    height: 100vh;
    margin: 0%;
    flex-direction: column;
    scroll-behavior: smooth;
}
section{
    width: 100%;
    min-height: 100vh;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

ul li {
    margin: 0 15px;
}

ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

ul li a:hover {
    text-decoration: underline;
}

#pauseBannerBtn{
    position: absolute;
    bottom: 0%;
}

.placeHolderVideo{
    width: 100%;
    background-color: #D7DDDD;
    background-size: auto;
}

.testContent{
    background-size: auto;
    background-color: #834D70;
}

.test2Content{
    background-size: auto;
    background-color: #54415E;
}

.bannerDiv{
    min-height: 40vh;
    width: 100%;
    float: left;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.videoPause{
    margin: 1%;
}

.welcomeText{
    position: absolute;
    width: auto;
    height: auto;
}