:root{
    --ghost-white: #F8FAFEff;
    --smoky-black: #161210ff;
    --night: #0A0A09ff;
    --black-bean: #38130Dff;
    --vermilion: #F93335ff;
}

/* Default classes */
body{
    display: flex;
    width: auto;
    height: 100vh;
    margin: 0%;
    flex-direction: column;
    scroll-behavior: smooth;
}
section{
    width: 100%;
    min-height: 100vh;
}


/* Custom id's */



/* Custom classes */
.navLinksUl {
    list-style: none;
    display: flex;
    justify-content: center;

    z-index: 2;
    position: relative;
    padding: 0px;
}

.navLinksUl li {
    margin: 0 15px;
}

.navLinksUl li a {
    color: var(--vermilion);
    text-decoration: none;
    font-size: 18px;
}

.navLinksUl li a:hover {
    text-decoration: underline;
}

.placeHolderVideo{
    width: 100%;
    background-color: var(--ghost-white);
    background-size: auto;
    pointer-events: none;
}

.testContent{
    background-size: auto;
    background-color: var(--black-bean);
}

.test2Content{
    background-size: auto;
    background-color: var(--smoky-black);
}

.bannerDiv{
    min-height: 40vh;
    width: 100%;
    float: left;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.videoPause{
    margin: 1%;
    position: absolute;
    bottom: 0%;
    left: 0%;
    z-index: 2;

    border: none;
    background-color: transparent;
    color: #ffffff6c;
}

.videoPause:hover{
    cursor: pointer;
}

.welcomeText{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    position: absolute;
    width: 40%;
    height: 40%;
    display: flex;

}

.contentSectionStyling{
    width: auto;
    height: 100%;
    top: -1.7%;
    position: relative;
}