:root{
    --ghost-white: #F8FAFEff;
    --smoky-black: #161210ff;
    --night: #0A0A09ff;
    --black-bean: #38130Dff;
    --vermilion: #F93335ff;
}

h1, h2, h3, h4, h5{
    color: var(--vermilion);
}